Repository pawanbahuguna/dynamic-config-build: changes, and which CircleCI parameters are due for each by the changed paths.
All: app, api, auth, unit

.circleci/config.yml:

version: 2.1
# Need to have setup: true; this tells CircleCI that you're trying 
# to setup dynamic config
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.0

# Workflow using path-filtering orb with built-in configuration
workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            packages/app/.* app true
            packages/api/.* api true
            packages/auth/.* auth true
            packages/unit/.* unit true

updating bazel version
  .circleci/continue_config.yml
Due: none

updating bazel and building
  packages/app/README.md
Due: app

undoing changes, keep new android image
  .circleci/continue_config.yml
  packages/app/README.md
Due: app

test build for older cimg
  .circleci/continue_config.yml
  packages/app/README.md
Due: app

fixing apt error
  .circleci/continue_config.yml
  packages/app/README.md
Due: app

reducing parallelism
  .circleci/continue_config.yml
  packages/app/README.md
Due: app

removing changes to api and auth
  packages/api/README.md
  packages/auth/README.md
Due: api, auth

Update README.md
  README.md
Due: none

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Changes made to API dir
  packages/api/README.md
Due: api

APP
  packages/app/README.md
Due: app
